@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    color: var(--font) !important;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: Montserrat;
    background-image: var(--bg);
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollReta);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll);
    border-radius: 10px;
}

.tema-black {
    --bg: var(--blackBg);
    --font: var(--whiteFont);
    --header: var(--blackBgH);
    --Cx: var(--blackCx);
    --shadowCx: var(--blackCxS);
    --btProject: var(--blackProject);
    --cttbloco1: var(--cttBlack);
    --cttbloco2: var(--ctt2Black);
    --scroll: var(--scrollBlack);
    --scrollReta: var(--scrollRetaBlack)
}

.tema-white {
    --bg: var(--whiteBg);
    --font: var(--blackFont);
    --header: var(--grayBgH);
    --headerFont: var(--whiteBgH);
    --Cx: var(--whiteCx);
    --shadowCx: var(--whiteCxS);
    --btProject: var(--whiteProject);
    --cttbloco1: var(--cttWhite);
    --cttbloco2: var(--ctt2White);
    --scroll: var(--scrollWhite);
    --scrollReta: var(--scrollRetaWhite)
}


:root {
    --blackBg: linear-gradient(to right, rgb(11, 11, 11), rgb(32, 32, 32));
    --blackFont: #030303;
    --whiteBg: #b9b9b9;
    --whiteFont: #d0d0d0;
    --blackBgH: #090909;
    --grayBgH: #424242;
    --whiteBgH: #fff;
    --blackCx: #2f2f2f;
    --whiteCx: #e1e1e1;
    --blackCxS: #000;
    --whiteCxS: #8d8d8d;
    --blackProject: #1b1b1b;
    --whiteProject: #bdbdbd;
    --cttBlack: #000;
    --cttWhite: #a3a3a3;
    --ctt2Black: #2c2c2c;
    --ctt2White: #dddddd;
    --scrollBlack: #2F2F2F;
    --scrollWhite: #E1E1E1;
    --scrollRetaBlack: #090909;
    --scrollRetaWhite: #424242;
}


/*Config header*/
header {
    position: fixed;
    background-color: var(--header); 
    width: 100%;
    padding: 14px 0px;
    align-items: center;
    z-index: 1;
}
header img {
    width: 260px;
}
header ul {
    display: flex;
}
header ul li {
    margin: 0px 15px;
    list-style: none;
}
header ul li a {
    text-decoration: none;
    color: var(--headerFont) !important;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 980px;
    margin: auto;
    height: 50px;
}
.nav-list {
    display: flex;
    align-items: center;
}

.menu-mobile-icon {
    display: none;
}
.menu-mobile {
    display: none;
}

.botao2 {
    display: none;
}
.caixa-mode1{
    display: flex;
}
.caixa-mode1 img {
    width: 50px;
}

.caixa-mode1 {
    display: flex !important;
}

.margin {
    margin-top: 7.4px;
}

.botao {
    width: 80px;
    height: 30px;
}

.botao-lanterna {
    background-color: transparent;
    border: none;
    margin-top: 7px;
}

/*Config da section boxDisplay*/

.boxDisplay {
    position: fixed;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

.bxDisplay{
    text-align: center;
    width: 400px;
    height: 350px;
    background-color: var(--Cx);
    display: none;
    border-radius: 10px;
}
.x-sair {
    display: flex;
    justify-content: end;
    right: 0;
    padding: 17px;
}
.x-sair i {
    cursor: pointer;
}
.boxDisplay div h1 {
    margin: 0px 0px 10px 0px;
}
.boxDisplay div p {
    text-align: justify;
    margin: 35px 20px 5px 20px;
}
.boxFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content:space-between;
    padding: 40px 100px;
}
.boxFlex a {
    padding: 10px 20px;
    font-size: 19px;
    border-radius: 5px;
    background-color: var(--btProject);
    text-decoration: none;
}
.boxFlex i {
    font-size: 26px;
}

.JCL-link {
    margin-left: 60px;
}

/*Config sections*/
#one, #two, #three, #for, #five {
    height: 110vh;
    padding-top: 50px !important;
}

/*Config da primeira section*/
#one {
    padding-top: 0px;
    height: 150vh;
}
#one img {
    width: 470px;
}
.apresentação {
    padding: 300px 0px 200px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    max-width: 1024px;
}

.title {
    font-size: 50px;
    background-image: linear-gradient(to bottom, rgba(3, 238, 255, 0.349), rgb(15, 36, 145));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: black;
    width: 19ch;
    white-space: nowrap;
    overflow: hidden;
    animation: digitando 2s steps(19), piscando 0.5s infinite step-end alternate;
    width: 100%;
    margin-bottom: 30px;
}
@keyframes  digitando{
    from {
        width: 0;
    }
}
@keyframes piscando {
    50% {
        border-color: transparent;
    }
}

.me {
    font-size: 30px;
}

.name-text {
    margin-bottom: 40px;
    width: 300px;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 7px;
    border-bottom: 4px solid rgb(104, 104, 104);
}

.caixinha-seta {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}
.fa-solid {
    color: white;
    font-size: 30px;
}

.caixa-icon-one {
    display: flex;
}
.caixa-icon-one div {
    font-size: 37px;
    margin: 23px;
    margin-left: 0;
    cursor: pointer;
}
.caixa-icon-one div:hover {
    transform: scale(1.1);
    transition: .2s;
}

/*Config da segunda section*/
.div1{
    text-align: -webkit-center;
}

.box2 h1 {
    text-align: center;
    margin-bottom: 50px;
}

.caixa-eu li {
    font-size: 20px;
    margin-top: 10px;
}
.caixa-eu li::marker {
    content: "\27AA  ";
}

.caixa-eu {
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto 60px auto;
    width: 90%;
    max-width: 1024px;
    padding: 30px 20px;
}

.caixa-eu div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
}

/*Config da terceira section*/

#three {
    height: 230vh;
}
.div-width {
    max-width: 1200px;
    margin: auto;
}

.caixas {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-items: center;
    align-items: center;
}
.caixas img {
    width: 250px;
    height: 200px;
    border-radius: 6px;
}

.caixinhas {
    border-radius: 10px;
    text-align: center;
    padding: 14px 7px;
    border: 1px solid gray;
    width: 270px;
    height: 202px;
    margin: 10px ;
    background-color: var(--Cx);
    cursor: pointer;
}

.caixinhas:hover {
    transform: scale(1.1);
    transition: .2s;
}

.caixinhas a{
    text-decoration: none;
}
.caixinhas h1{
    margin: 5px auto;
}
.caixinhas p{
    margin: 5px 7px;
}

.box4 {
    padding-top: 200px;
}

.text {
    text-align: center;
    padding-bottom: 50px;
}

/*Config da Quarta section*/
.caixas-skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 90%;
    padding: 0px;
}
.caixas-skills, span {
    padding-top: 20px;
}
.caixas-skills li {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    border: 1px solid --Cx;
    background-color: var(--Cx);
    margin: 8px;
    border-radius: 5px;
    box-shadow: 1px 5px 7px 1px var(--shadowCx);
    width: 100px;
    height: 190px;
}

.caixas-skills li:hover {
    transform: scale(1.1);
    transition: .2s;
}

.caixas-skills li img {
    width: 100px;
    align-self: center;
}

.logo-php {
    margin-top: 20px;
}

.frase-php {
    margin-top: -12px;
}
/*Config da Quinta section*/

#five {
    display: flex;
    justify-content: center;
    align-items: center;
}

#five img {
    width: 150px;
}
.caixa-img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.botoes {
    text-align: center;
}

.caixa-contatos {
    display: flex;
    align-items: center;
    height: 600px;
    width: 80%;
    max-width: 800px;
}

.caixa-img-contatos {
    background-color: var(--cttbloco1);
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 9px 0px 0px 9px;
}

.caixa-img-contatos img {
    width: 280px !important;
}

.caixa-contatos-botoes {
    background-color: var(--cttbloco2);
    height: 100%;
    width: 50%;
    border-radius: 0px 9px 9px 0px;
}
.caixa-contatos-botoes i {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 5px;
}